.subHeader h1 {
    font-weight: 200;
    padding: 40px 0 20px 0
}

.crudBox {
    padding: 20px 0 20px 0
}

.buttonCrud {
    background-color: #FE7B1D;
    color: #fff;
    font-weight:700;
    padding:8px;
    border: 0;
    cursor: pointer;

}
.tabelaGerenciamento{
    width: 100%;
    padding:20px 0;
    margin:20px 0;
    border-collapse: collapse;

}
thead, thead tr, thead tr td{
    background-color: #dcd8d8;
    padding:10px;
    color:#535556;
    border-bottom: 1px solid #535556;


}

tbody, tbody tr, tbody tr th{
    background-color: #dcd8d8;
    padding:10px;
    color:#535556;
    border-bottom: 1px solid #535556;
    text-align: start;

}


.colunaBotoes button{
    padding: 8px;
    margin: 3px;
    width: 35px;
    border-width: 0;
    cursor: pointer;
}
.iconBotoes{
    color: white;
    font-size: 12px;
}