.subHeader h1 {
    font-weight: 200;
    padding: 40px 0 20px 0
}

.crudBox {
    padding: 20px 0 20px 0;
    position: relative;
    z-index: 0;
}

.buttonCrud {
    background-color: var(--laranja);
    color: #fff;
    font-weight: 700;
    padding: 8px;
    border: 0;
    cursor: pointer;

}

.tabelaGerenciamento {
    width: 100%;
    padding: 20px 0;
    margin: 20px 0;
    border-collapse: collapse;

}

thead,
thead tr,
thead tr td {
    background-color: var(--cinzamedio);
    padding: 10px;
    color: var(--cinzaescuro);
    border-bottom: 1px solid var(--cinzaescuro);


}

tbody,
tbody tr,
tbody tr th {
    background-color: #efeded;
    padding: 10px;
    color: var(--cinzaescuro);
    border-bottom: 1px solid var(--cinzaescuro);
    text-align: start;

}

.mobileTipo {
    display: none;
}

.linhaTabela th:nth-of-type() {
    background-color: red
}

.colunaBotoes button {
    padding: 10px;
    margin: 3px;
    width: 38px;
    border-width: 0;
    cursor: pointer;
}

.iconBotoes {
    color: white;
    font-size: 12px;
}

/* Box Usuario */
#idContainerInfo {
    width: 300px;
    padding: 20px;
    height: 400px;
    background-color: var(--cinzamedio);
    position: fixed;
    top: 50%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    border: 0px solid var(--cinzaescuro);
    transform: translate(-50%, -50%);
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: none;

}

.containerInputs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60%;
    width: 100%;
    flex-direction: column;
}

.containerInputs input,
.containerInputs select {
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
    padding: 15px 8px 8px 15px;
    border: 0;
    color: var(--cinzaescuro);

}

.stateContainer button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 20px;
    height: 20px;
    background-color: var(--laranja);
    color: white;
    border: 0;

    cursor: pointer
}

.stateContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}




@media (max-width: 450px) {

    .elementoTabela {
        display: flex;
        flex-direction: row;
        font-weight: 100;
    }

    .elementoTabela p {
        margin-right: 5px;
        font-weight: 600;

    }

    thead,
    thead tr,
    thead tr td {
        padding: 5px;
        display: none;
    }

    tbody,
    tbody tr,
    tbody tr th {
        padding: 5px;
        border: 0
    }

    tbody tr {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--cinzaescuro);
    }

    th,
    td {
        font-size: 0.8rem;

    }

    .mobileTipo {
        display: flex;
    }

    .tabelaGerenciamento {
        width: 100%;
        padding: 0;
        margin: 10px 0;
        border-collapse: collapse;

    }

    #idContainerInfo {
        width: 230px;
        padding: 10px;
        height: 350px;

    }

    .containerInputs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 60%;
        width: 100%;
        flex-direction: column;
    }

    .containerInputs input,
    .containerInputs select {
        max-width: 180px;
        background: white;
        padding: 18px 10px;
    }


}