.centralHome{
    display:flex;
    align-items: center;
    justify-content:center;
}
.centralHome div {
    padding:50px;
    margin:20px;
    background-color:var(--cinzaescuro);
}
.centralHome div a{
    margin:50px;
    color:white;
    text-decoration: none;
}