body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.width85 {
  width: 85%;
  max-width: 1440px;

}
.total {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root{
  --laranja: #FE7B1D;
  --cinzamedio:#dcd8d8;
  --cinzaescuro:#535556;
}
.arredondamento{
  border-radius: 0.25rem;
}
