.header {
    height: 100px;
    background-color: var(--cinzaescuro);
}

.centralHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.linksHeader a {
    color: white;
    font-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.linksHeader a:hover {
    opacity: 70%
}
@media (max-width: 700px) {
    .centralHeader a img{
        width:15em
    }
    .linksHeader a {
  display: none;
    }

}