.footer {
    background-color: var(--cinzaescuro);
    flex-direction: column;
    height: auto;
}

.centralFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    height: auto;

}

.linksFooter {
    height: auto;
    margin-bottom: 20px;
    padding: 20px;

}


.linksFooter ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.linksFooter ul li {
    list-style-type: none;
    padding:5px
}

.linksFooter a:hover {
    opacity: 70%
}

.subFooter {
    background-color: #292929;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subFooter p {
    margin-top: 20px;
    color: var(--cinzaescuro)
}

.subFooter a {
    color: var(--laranja);
    text-decoration: none;

}
.linksFooter a {
    color: var(--cinzaescuro);
    font-style: none;
    text-decoration: none;
    font-weight: 600;
    padding: 20px
}


@media (max-width: 700px) {

    .centralFooter {
        flex-direction: column;
    }
    .centralFooter a img{
        width:15em
    }
    .linksFooter {
        margin-top: 20px;
    }
    .subFooter p {
        text-align: center;
    }    
    .linksFooter a {
        font-size: 0.9em;
        padding: 15px;
    }

}